{
  "name": "$NAME API Documentation",
  "version": "2.0.0",
  "description": "Documentation for $NAME API",
  "title": "REST API - $NAME",
  "url": "$API_URL",
  "sampleUrl": "$NAME",
  "header": {
    "title": "$NAME API",
    "filename": "./public/header.md"
  },
  "footer": {
    "filename": "./public/footer.md"
  },
  "template": {
    "withCompare": true,
    "withGenerator": false
  }
}