/web/bundles/
/web/static
!/web/static/.gitkeep

/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/doc/parameters.yml
/app/config/parameters_sandbox.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml

/var/bootstrap.php.cache
/var/logs/*
/var/cache/*
!var/cache/.gitkeep
!var/logs/.gitkeep
/var/phpunit.xml

/build/
/vendor/
/bin/
/composer.phar
/.idea/
.DS_Store
.gitignore
*/kyc_files/
*/kyc_files

**.swp
