/web/bundles/
/web/static
!/web/static/.gitkeep

/var/bootstrap.php.cache
/var/cache/*
/app/config/parameters.yml

/var/bootstrap.php.cache
/var/logs/*
/var/cache/*
!var/cache/.gitkeep
!var/logs/.gitkeep
/var/phpunit.xml
**.phpunit.result.cache

/build/
/vendor/
/bin/
/composer.phar
/.idea/
.DS_Store
.gitignore
*/kyc_files/
*/kyc_files

**.swp
