/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/doc/parameters.yml
/app/config/parameters_sandbox.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/bin/
/composer.phar
/.idea/
.DS_Store
.gitignore
*/kyc_files/
*/kyc_files
