<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>ChipChap Ticket</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <style type="text/css">
        @import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);
        body,div,p,h1,h2,h3,h4,h5,h6,a{
            font-family: 'Roboto', sans-serif;
            color: #4D4D4D;
        }
        .ticket-container{
            max-width: 550px;
            min-width: 360px;
            padding: 20px 0;
            display: block;
            margin: 0 auto;
        }
        .headp img{
            width: 300px;
            margin-bottom: 10px;
        }
        .headp{
            font-size: 14px;
            color: #4D4D4D;
            text-align: center;
        }
        section{
            padding: 10px;
            text-align: center;
        }
        p{
            font-weight: lighter;
        }
        hr{
            border-style: dashed;
            border-color: #999999;
        }
        h5{
            text-transform: uppercase;
            margin-bottom: 0;
        }
        h4{
            text-align: center;
            text-transform: uppercase;
            font-weight: 300;
            margin-bottom: 0;
        }
        h4 .bold{
            font-weight: bold;
        }
        .footer img{
            width: 70px;
            margin-top: 20px;
        }
    </style>
</head>

<body class="ticket-container">
<section>
    <div>
        <p class="headp"><img src="https://chip-chap.com/images/chip-chap-h-blue.png"></p>
    </div>
    <div>
        <p class="headp">Chip Chap Payments S.L.</p>
        <p class="headp">Mas de Pascualet s/n, Les Coves de Vinromà
            <br>
            12185, Castellón, Spain</p>
    </div>

</section>

<hr>

<section>
    <p>- This mail was sent to confirm that you have purchased {{ amount }} ({{ currency_in }}) and you will recieve your Pylon Tokens in return at the end of the ICO.</p>
    <p>- This is your transaction's txid <a href="https://etherchain.org/tx/{{ tx_id }}">{{ tx_id }}.</a></p>
    <p>- As we have informed you in the past through our commuication channels (website, telegram groups, tutorials etc.),  we will send your Pylon Tokens to your address of a wallet compatible with ERC20 tokens.</p>
    <p>- If you did not add provide us with your address we will contact you once the ICO ends, in order to send the tokens and be sure you recieve the Pylon Tokens that you have bought.</p>

    <p>Thanks for your support and your contribution. If you have any question feel free to ask us by seding a mail to: info@klenergy-tech.com</p>

    <p>Peace, love & renewables!</p>

    <p>The Pylon Network team.</p>

</section>

<hr>

<section class="footer">
    <h5 class="text-center">Thank You for using Chip-Chap</h5>
    <img src="https://chip-chap.com/images/logo_blue.png">
</section>
</body>
</html>
