*    *   * * * www-data timeout 300 /usr/bin/rec rec:crypto:check >> /api/var/logs/cron-crypto-check.log 2>&1
*    *   * * * www-data timeout 300 /usr/bin/rec rec:fiat:check >> /api/var/logs/cron-fiat-check.log 2>&1
*    *   * * * www-data timeout 300 /usr/bin/rec rec:fiatV3:check >> /api/var/logs/cron-fiat-check.log 2>&1
*    *   * * * www-data timeout 300 /usr/bin/rec rec:check:offers >> /api/var/logs/cron-check-offers.log 2>&1
*    *   * * * www-data timeout 300 /usr/bin/rec rec:mailing:send >> /api/var/logs/cron-mailing-send.log 2>&1
*/5  *   * * * www-data timeout 300 /usr/bin/rec rec:lemon:check:balance >> /api/var/logs/cron-lemon-check-balance.log 2>&1
*/5  *   * * * www-data timeout 300 /usr/bin/rec rec:sync:lemonway >> /api/var/logs/cron-sync-lemonway.log 2>&1
*    *   * * * www-data timeout 300 /usr/bin/rec rec:pos:expire >> /api/var/logs/cron-pos-expire.log 2>&1
*    *   * * * www-data timeout 300 /usr/bin/rec rec:pos:notifications:retry >> /api/var/logs/cron-pos-notifications-retry.log 2>&1
*    *   * * * www-data /usr/bin/rec rec:transaction_block:validate >> /api/var/logs/cron-tx_block-validate.log 2>&1
*    *   * * * www-data /usr/bin/rec rec:transaction_block:execute >> /api/var/logs/cron-tx_block-execute.log 2>&1
*    *   * * * www-data /usr/bin/rec rec:create:NFTwallet >> /api/var/logs/cron-nft.log 2>&1

*    *   * * * www-data timeout 300 /usr/bin/rec rec:pos:delete:expired_nonces >> /api/var/logs/cron-delete-expired-nonces.log 2>&1
*/2    *   * * * www-data timeout 300 /usr/bin/rec rec:qualifications:expire >> /api/var/logs/cron-qualifications-expire.log 2>&1

#*    *   * * * www-data find /api/web/static -name *.tmp.* -type f -mmin +10 -delete

0    0   * * * www-data timeout 300 /usr/bin/rec rec:check:expired:documents >> /api/var/logs/cron-check-expired-documents.log 2>&1

*    *   * * * www-data timeout 300 /usr/bin/rec rec:execute:NFTTransactions >> /api/var/logs/cron-web3.log 2>&1
*    *   * * * www-data timeout 300 /usr/bin/rec rec:check:NFTTransactions >> /api/var/logs/cron-web3.log 2>&1
*    *   * * * www-data timeout 300 /usr/bin/rec rec:funding:execute >> /api/var/logs/cron-web3.log 2>&1
*    *   * * * www-data timeout 300 /usr/bin/rec rec:funding:check >> /api/var/logs/cron-web3.log 2>&1

*    *   * * * www-data timeout 3000 /usr/bin/rec rec:exports:send >> /api/var/logs/cron-export-email.log 2>&1

0    0   * * 1 www-data timeout 3000 /usr/bin/rec rec:b2b:weekly:report >> /api/var/logs/cron-report-email.log 2>&1

*    *   * * * www-data timeout 300 /usr/bin/rec rec:challenges:manage >> /api/var/logs/cron-challenges.log 2>&1