parameters:
    database_driver:   pdo_mysql
    database_host:     api
    database_port:     3306
    database_name:     api
    database_user:     api
    database_password: api

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    no_reply_email: "dev_no-reply@chip-chap.com"
    volume_email: "dev-volume@chip-chap.com"

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt

    debug_toolbar:          true
    debug_redirects:        false
    use_assetic_controller: true

    mongodb_server: mongodb://localhost:27017
    mongodb_db: symfony
    version: 1.0
    build_id: "#1"
    environment: 'local'
    api_env: 'pre'

    base_url: 'http://dev-api.telepay.net/test'
    base_panel_url: 'http://dev-cp.telepay.net/app_dev.php'
    web_app_url: 'https://web.chip-chap.com/'

    rec_user: btcuser
    rec_pass: btcpass
    rec_host: localhost
    rec_port: 8333

    admin_key: "test"
    saved_data_version: 1
    saved_data_subversion: 1
    OP_RETURN_BTC_FEE: "0.0001"

    rec_min_confirmations: 1

    id_group_default:
    id_group_level_0:
    id_group_root: 1
    admin_user_id: 1

    treasure_address: 'address'
    root_group_address: 'address'

    swift_client_id_default: ''
    commerce_client_id: ''
    url_swift_default_ok: ''
    url_swift_default_ko: ''

    labsmobile_user: 'user'
    labsmobile_pass: 'pass'

    csv_dir: ''
    uploads_dir: ''
    files_path: ''

    lemonway_url: 'https://sandbox-api.lemonway.fr/mb/demo/dev/directkitjson2/Service.asmx'
    lemonway_payment_url: 'https://sandbox-webkit.lemonway.fr/NOVACT/dev/?moneyintoken='
    lemonway_notification_url: 'https://preapibm.blockroot.com/notifications/v1/lemonway/'
    lemonway_notification_app: 'https://bcn.com/re:recharge?status='
    lemonway_user: 'society'
    lemonway_pass: '123456'
    lemonway_version: '4.0'
    lemonway_admin_account: 'MKP'

    withdrawal_url: 'https://preapibm.blockroot.com/withdrawal/v1/'
    list_emails: '["uno","dos","res"]'

    authorized_admins: [1,2]

