parameters:
#database data to connect
    database_driver:   pdo_mysql
    database_host:     rdb
    database_port:     3306
    database_name:     app
    database_user:     app
    database_password: app

#mailer configuration to sent emails
    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

#origin email
    no_reply_email: "dev_no-reply@chip-chap.com"

#language by default
    locale:            en
#secret to generate passwords and other crypted data
    secret:            ThisTokenIsNotSoSecretChangeIt

#symfony configurations
    debug_toolbar:          true
    debug_redirects:        false
    use_assetic_controller: true

#mongo database access information
    mongodb_server: mongodb://nrdb:27017
    mongodb_db: app
    mongodb_user: app
    mongodb_password: app

#API version
    version: 1.0

#envirorment name and type (pre or prod)
    environment: 'local'
    api_env: 'pre'

#API url
    base_url: 'http://dev-api.app.net/test'
#Admin panel url
    base_panel_url: 'http://dev-cp.app.net/app_dev.php'

#blockchain credentials
    rec_user: rec
    rec_pass: rec
    rec_host: node
    rec_port: 17711

#minimum confirmations to accept rec transactions
    rec_min_confirmations: 1
#fee added to every blockchain transaction
    OP_RETURN_BTC_FEE: "0.0001"
#key to encrypt the blockchain data
    admin_key: "test"
#integer to define the data format version saved in the blockchain
    saved_data_version: 1
#integer to define the data format subversion saved in the blockchain
    saved_data_subversion: 1


#rec treasure address (the address where all unused recs are saved)
    treasure_address: 'address'
#Root rec address from all the recs are distributed to users
    root_group_address: 'address'

    #root group to manage recs and manual and delegated changes
    id_group_root: 1
    #root group to manage recs and manual and delegated changes
    admin_user_id: 1

#client id to check if petions are from admin pamel
    admin_client_id: 2

#SMS provider API access data
    labsmobile_user: 'user'
    labsmobile_pass: 'pass'

#Directory path to save all the csv data generated by commands
    csv_dir: ''
#Path to save all the files and images updated by users
    uploads_dir: ''
#Url to show the files updated in the uploads_dir directory
    files_path: ''

#lemonway API access data
    lemonway_url: 'https://sandbox-api.lemonway.fr/mb/demo/dev/directkitjson2/Service.asmx'
    lemonway_payment_url: 'https://sandbox-webkit.lemonway.fr/NOVACT/dev/?moneyintoken='
    lemonway_notification_url: 'https://api.rec.qbitartifacts.com/notifications/v1/lemonway/'
    lemonway_notification_app: 'https://app.rec.barcelona/re:recharge?status='
    lemonway_user: 'society'
    lemonway_pass: '123456'
    lemonway_version: '4.0'
    lemonway_admin_account: 'MKP'

#url used to send a link to confirm the rec treasure address withdrawal
    withdrawal_url: 'https://preapibm.blockroot.com/withdrawal/v1/'

#list ot three admins emails who must confirm the treasure withdrawal
    list_emails: '["uno","dos","res"]'

#list of authorized admins who can log in support panel
    authorized_admins:
        - 1
        - 2
        - 141

# Telegram setup for notifications
    telegram_bot_token: ~
    telegram_chat_log: ~
    telegram_chat_error: ~

# Bcn setup for notificacions
    upc_notification_url: ~
    upc_notification_username: ~
    upc_notification_password: ~

    blockchain_address_prefix: 'R'

