parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt

    debug_toolbar:          true
    debug_redirects:        false
    use_assetic_controller: true

    mongodb_server: mongodb://localhost:27017
    mongodb_db: symfony
    version: 1.0
    build_id: "#1"

    sabadell_secret: xuauoudpjpak78318334

    bitcoind_user: btcuser
    bitcoind_pass: btcpass
    bitcoind_host: localhost
    bitcoind_port: 8333

    faircoind_user: facuser
    faircoind_pass: facpass
    faircoind_host: localhost
    faircoind_port: 46393