parameters:
    database_driver:   pdo_mysql
    database_host:     rdb
    database_port:     3306
    database_name:     app
    database_user:     app
    database_password: $APP_SECRET

    mailer_transport:  smtp
    mailer_host:       $MAILER_HOST
    mailer_user:       $MAILER_USERNAME
    mailer_password:   $MAILER_PASSWORD
    mailer_from:       $MAILER_FROM

    no_reply_email:    $MAILER_FROM

    locale:            en
    secret:            $APP_SECRET

    debug_toolbar:          false
    debug_redirects:        false
    use_assetic_controller: true

    mongodb_server: mongodb://nrdb:27017
    mongodb_db: app
    mongodb_user: app
    mongodb_password: $APP_SECRET

    version: $APP_VERSION

    #TODO: remove this parameter with putting here others
    api_env: 'pre'

    base_url: $APP_API_URL
    base_panel_url: $APP_ADMIN_URL
    web_app_url: $APP_API_URL

    rec_user: app
    rec_pass: $APP_SECRET
    rec_host: $NODE_HOST
    rec_port: $NODE_PORT

    admin_key: $APP_SECRET
    saved_data_version: 1
    saved_data_subversion: 1
    OP_RETURN_BTC_FEE: 0.01

    rec_min_confirmations: 1

    id_group_root: $APP_ROOT_GROUP
    admin_user_id: $APP_ROOT_USER

    treasure_address: $APP_TREASURE_ADDRESS
    root_group_address: $APP_ROOT_ADDRESS

    swift_client_id_default: ""
    commerce_client_id: ""
    url_swift_default_ok: ""
    url_swift_default_ko: ""

    labsmobile_user: "$LABSMOBILE_USER"
    labsmobile_pass: "$LABSMOBILE_PASS"

    csv_dir: /csv_dir
    uploads_dir: /api/web/static
    files_path: $APP_API_URL/static

    lemonway_url: "$LEMONWAY_URL"
    lemonway_payment_url: "$LEMONWAY_PAYMENT_URL"
    lemonway_notification_url: "$LEMONWAY_NOTIFICATION_URL"
    lemonway_notification_app: "$LEMONWAY_NOTIFICATION_APP"
    lemonway_user: "$LEMONWAY_USER"
    lemonway_pass: "$LEMONWAY_PASS"
    lemonway_version: "$LEMONWAY_VERSION"
    lemonway_admin_account: "$LEMONWAY_ADMIN_ACCOUNT"
    lemonway_sync_balance_last: $LEMONWAY_SYNC_BALANCE_LAST

    withdrawal_url: "https://$APP_API_DOMAIN/withdrawal/v1/"
    list_emails: '["$WITHDRAWAL_EMAIL_1","$WITHDRAWAL_EMAIL_2","$WITHDRAWAL_EMAIL_3"]'

    authorized_admins: $AUTHORIZED_ADMINS_ARRAY

    telegram_bot_token: $TELEGRAM_BOT_TOKEN
    telegram_chat_log: $TELEGRAM_CHAT_LOG
    telegram_chat_error: $TELEGRAM_CHAT_ERROR

    # Bcn setup for notificacions
    upc_notification_url: $UPC_NOTIFICATION_URL
    upc_notification_username: $UPC_NOTIFICATION_USERNAME
    upc_notification_password: $UPC_NOTIFICATION_PASSWORD

    blockchain_address_prefix: $BLOCKCHAIN_ADDRESS_PREFIX

    sentry_dsn: $SENTRY_DSN
    pos_url: $POS_URL

    kyc_email: $KYC_EMAIL

    discourse_url: $DISCOURSE_URL
    discourse_admin_username: $DISCOURSE_ADMIN_USERNAME
    discourse_admin_api_key: $DISCOURSE_ADMIN_API_KEY
    discourse_news_category_id: $DISCOURSE_NEWS_CATEGORY_ID

    atarca_web3_api_url: $ATARCA_WEB3_API_URL
    resume_admin_emails_list: $RESUME_ADMIN_EMAILS_LIST