
body{
    width: 960px;
    margin: 0 auto;
}
#head-container{
    margin: 50px 0 0 0;
}

#foot-container{
    text-align: center;
}

#main-container{
    overflow: hidden;
    margin: 50px auto;
}

#apis-container {
    float: left;
}
#sdks-container {
    float: right;
}