
<html>
<head>
    <title>Confirmation mail</title>
    <meta charset="UTF-8">

    <style>
        body{
            margin: 0;
            padding: 0;
            padding: 60px 30px;
            font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        }
        .wrapper{
            max-width: 650px;
            min-width: 200px;
            margin: 0 auto;
            padding: 50px 20px;
            background: #fff;
            border-radius: 2px;
            -webkit-box-shadow: 0px 1px 3px 0px rgba(50, 50, 50, 0.4);
            -moz-box-shadow:    0px 1px 3px 0px rgba(50, 50, 50, 0.4);
            box-shadow:         0px 1px 3px 0px rgba(50, 50, 50, 0.4);
        }
        .header img{
            width: 185px;
            display: block;
            margin: 5px auto 20px;
        }
        hr{
            border-color: #f3f3f3;
            width: 65%;
            margin-top: 18px;
        }
        .message p{
            color: #666666;
            font-size: 13px;
            text-align: center;
            margin: 35px 0;
        }
        .message a{
            color: #fff;
            background-color: #337ab7;
            border-color: #2e6da4;
            padding: 10px 16px;
            margin: 10px auto;
            display: block;
            width: 120px;
            text-decoration: none!important;
            font-size: 12px;
            text-align: center;
            transition: 0.3s;
            border-radius: 6px;
        }
        .message a:hover{
            background-color: #286090;
            border-color: #204d74;
        }
        .footer{
            color: #2192ef;
            text-align: center;
            font-size: 14px;
            margin-top: 25px;
            display: block;
            cursor: pointer;
        }
    </style>

</head>
<body>
<div class="wrapper">
    <div class="header">
        <img src="https://holytransaction.com/images/logo.png">
        <hr>
    </div>
    <div class="message">
        <p>Welcome to HolyTransaction payment systems. This account allows you to enable the payment methods that need particular types of authentication.
            <br>
            We place at your disposal tools for the new economy based on cryptocurrencies, a sustainable and decentralised economy.</p>

        <div>
            <p>Click on the link below to confirm your account:</p>
            <a href="{{ message }}">Validate e-mail</a>
        </div>
    </div>
</div>
<a href="https://holytransaction.trade/" class="footer">HolyTransaction.trade</a>
</body>
</html>